#blacklist {
	width: 800px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#blacklist > div {
	display: flex;
}

#blacklist > div input {
	height: 40px;
	width: 260px;
}

#blacklist > div button {
	width: 160px;
	margin-left: 10px;
}

table {
	width: 100%;
}

.table-container {
	overflow-y: auto;
	margin-top: 10px;
	height: calc(100vh - 280px);
}

