/* View */
.view_container {
	width: 100%;
	height: 100%;
	display: flex;
}

.show_view {
	display: inline;
}


/* General Header */
.header {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
}
/* .header[seperate="true"] {
	margin-top: 30px;
} */

.text {
	display: inline-block;
	font-size: 14px;
}

.subheader {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

/* General Button */
.standard_button {
	background-color: var(--content_background);
	border-radius: 10px;
	border-color: var(--button_border);
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	cursor: pointer;
	color: var(--default_text_color);
	user-select: none;
}

.standard_button:focus {
	outline: none;
}
.standard_button:hover {
	background-color: var(--button_hover_background)
}
.standard_button:not([icononly = "true"]) i {
	margin-right: 10px;
}

.standard_button.mini {
	border: none;
	height: 26px;
}
.standard_button.mini:hover {
	background-color: var(--daypicker_buttons_hover)
}

/* .standard_button.right {
	float: right;
} */

/* Charts*/
.chart {
		
}
/* Chart titles */
.chart > .title {
	font-size: 15px;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}