/* SETTINGS */

.setting {
	font-size: 14px;
	margin-bottom: 10px;
}

/* Yes - No - Setting */
.setting_text {
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
}
.setting_yes, .setting_no {
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	font-size: 24px;
	color: var(--setting_no);
}
.setting_no {
	color: var(--setting_no);
}
.setting_yes {
	color: var(--setting_yes);
}
.setting:hover .setting_no, .setting:hover .setting_yes {
	color: var(--setting_hover);
}
.setting[status = "true"] .setting_no {
	display: none;
}
.setting[status = "false"] .setting_yes {
	display: none;
}

/* Text Entry */
.setting_entry {
	outline: 0;
	padding: 5px;
	font-size: 12px;
	background-color: var(--content_background);
	margin-right: 12px;
	border: 1px solid var(--input_border);
	margin-top: 5px;
	width: 75px;
}
.setting_entry:hover {
	border-color: var(--hover_border);
}
.setting_entry ~ .setting_text {
	vertical-align: middle;
}

/* Slider - Setting */
.setting_slider {
	width: 300px;
	display: inline-block;

	margin-top: 10px;
	-webkit-appearance: none;
	height: 7.5px;
	border-radius: 10px;
	background: var(--settings_slider_bar);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.setting_slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

.setting_slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	background: var(--settings_slider_thumb);
	cursor: pointer;
}
.setting_slider_text {
	display: inline-block;
	font-size: 12px;
}
