/* Day Picker */
.day_picker_navigator {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	height: 50px;
	width: 50px;
	line-height: 50px;
	color: var(--daypicker_move_icon_default);
	cursor: pointer;
}
.day_picker_navigator:hover {
	color: var(--daypicker_move_icon_hover);
}
.day_picker_navigator:active {
	color: var(--daypicker_move_icon_active)
}

#day_picker > .day {
	display: inline-block;

	width: 15%;
	min-width: 50px;
	max-width: 120px;

	height: 50px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	transition: 0.25s ease-in-out;

	margin-left: 3px;
	margin-right: 3px;

	border-bottom: 2px solid var(--default_border);
}

#day_picker > .day > .number {
	height: 20px;
}
#day_picker > .day > .month {
	height: 30px;
	margin-top: -5px;
	font-size: 10px;
}
#day_picker > .day:hover {
	border-bottom-color: var(--hover_border)
}
#day_picker > .day.selected {
	border-bottom-color: var(--selected_border)
}
#day_picker > .day:active {
	border-bottom-color: var(--active_border) !important;
}

#day_picker {
	vertical-align: top;
	width: calc(100%);
	max-width: 600px;
	height: 50px;
	text-align: center;
	overflow: hidden;
	user-select: none;
}

/* #day_picker:first-child {
	display: none !important;
} */

/* Components */
#day_picker_container {
	width: 100%;
	padding: 20px;
	justify-content: center;
	display: flex;
}

#element_weekly {
	width: 100%;
	height: auto;
	padding: 20px;
}

#element_daily {
	width: 100%;
	height: auto;
	padding: 20px;
}

/* Placeholders */
#test_chart_daily {
	height: 100px;
	max-height: 400px;
	width: 100%;
	background-color: rgb(34, 32, 32);
}

#sunburst_plot {
	flex: 60% 0;
	height: 300px;
	background-color: red;
}

#sunburst_breakdown {
	flex: 1 0;
	height: 300px;
	background-color: blue;
}