<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TimeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <connectionStrings><add name="mainEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=|DataDirectory|\db.db&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TimeTracker.Properties.Settings>
      <setting name="TutorialViewed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeSinceAppLastUsed" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TimeNotificationVisible" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TimeBeforeAskingAgain" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PlayNotificationSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Blacklist" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>TimeTracker</string>
            <string>Neue Benachrichtigung</string>
            <string>Explorer</string>
            <string>Cortana</string>
            <string>Akkuinformationen</string>
            <string>Start</string>
            <string>UnlockingWindow</string>
            <string>Cortana</string>
            <string>Status</string>
            <string>Aktive Anwendungen</string>
            <string>Window Dialog</string>
            <string>Info-Center</string>
            <string>Windows-Standardsperrbildschirm</string>
            <string>Host für die Windows Shell-Oberfläche</string>
            <string>F12PopupWindow</string>
            <string>LockingWindow</string>
            <string>CTX_RX_SYSTRAY</string>
            <string>[]</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="OfflineTracking" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HotkeyDisabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DarkMode" serializeAs="String">
        <value>False</value>
      </setting>
    </TimeTracker.Properties.Settings>
  </userSettings>
</configuration>