<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Foobar 1.0' Id='aac8e5b7-fcf1-42a0-ab75-85203b4b76ff' UpgradeCode='aac8e5b7-fcf1-42a0-ab75-85203b4b76ff'
    Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Acme Ltd.'>

    <Package Id='*' Keywords='Installer'
      Description="Acme's Foobar 1.0 Installer"
      Comments='Foobar is a registered trademark of Acme Ltd.' Manufacturer='Acme Ltd.'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" />

    <Property Id="INSTALLDIR">
      <IniFileSearch Id='TimeTrackerIniFile' Type='directory' Name='SampleRegistry.ini' Section='Sample' Key='InstallDir' Field='1' />
    </Property>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='TimeTracker' Name='TimeTracker'>
          <Directory Id='INSTALLDIR' Name='TimeTracker 1.0'>

            <Component Id='MainExecutable' Guid='aac8e5b7-fcf1-42a0-ab75-85203b4b76ff'>
              <File Id="TimeTracker.exe" Name="TimeTracker1_0.exe" DiskId='1' Source="..\bin\Debug\TimeTracker.exe" KeyPath='yes'>
                <Shortcut Id="startmenuTimeTracker1_0" Directory="ProgramMenuDir" Name="TimeTracker 1.0" WorkingDirectory='INSTALLDIR' IconIndex="0" Advertise="no">
                    <!--AUMID-->
                    <ShortcutProperty Key="System.AppUserModel.ID" Value="Robin.TimeTracker" />
                    <!--COM CLSID-->
                    <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{7dc8e5b7-fcf1-42a0-ab75-85203b4b76ff}" />
                </Shortcut>
              </File>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="TimeTracker 1.0">
          <Component Id="ProgramMenuDir" Guid="bbc8e5b7-fcf1-42a0-ab75-85203b4b76ff">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall'/>
            <RegistryValue Root='HKCU' Key='Software\TimeTracker\TimeTracker1_0' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>
  </Product>
</Wix>
